/*! import fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* * reset-web-page * */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

/* share stayle */
.text-dark{
  color: #0D1321;
}
main{
  margin: 10px 0;
}
.container{
  background-color: #fff;
  margin: 0 150px;
}
/* .btn{

} */

/* share style end */


/* header area */

header{
  padding: 30px 150px;
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: #0D1321;
  font-size: 24px;
  font-weight: 800;
}

nav ul li a button{
  padding: 12px 16px;
  background: transparent;
  border: 1px solid #0D1321;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

/* banner area */

#banner{
  background-image: url('../images/Hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#banner .banner-content{
  width: 998px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}
.banner-content h1{
  font-size: 48px;
  font-weight: 800;
  line-height: 4rem;
  margin: 30px 0;
}
.banner-content p{
  padding: 0px 60px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 2rem;
}
.banner-content button{
  padding: 22px 28px;
  background: #0D1321;
  border: 1px solid #0D1321;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

/* web development area */

#web-development{
  margin: 70px 0;
}

#web-development .web-content{
  padding: 80px 95px;
  background-color: #FAFAFB;
  border-radius: 5px;
}
.web-content h2{
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  color: #0D1321;
  text-transform: capitalize;
}
.web-content p{
  text-align: center;
  color: #0D1321;
  font-weight: normal;
  font-size: 16px;
  margin: 30px 0;
  line-height: 2rem;
}

/*! web item 1 */
.web-content .web-item1{
  background-color: #fff;
  padding: 20px 30px;
  margin: 30px 0;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.web-item1 .item-content h3{
  font-size: 24px;
  font-weight: bold;
  line-height: 2rem;  
}

.web-item1 .item-content p{
  text-align: start;
  font-size: 16px;
  font-weight: normal;
}

.web-item1 .item-content button{
  padding: 14px 24px;
  border: 1px solid #0D1321;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  color: #0D1321;
}

/*? web item 2 */

.web-content .web-item2{
  background-color: #fff;
  padding: 20px 30px;
  margin: 30px 0;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.web-item2 .item-content{
    width: 60%;
}

.web-item2 .item-content h3{
  font-size: 24px;
  font-weight: bold;
  line-height: 2rem;  
}

.web-item2 .item-content p{
  text-align: start;
  font-size: 16px;
  font-weight: normal;
}

.web-item2 .item-content button{
  padding: 14px 24px;
  border: 1px solid #0D1321;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  color: #0D1321;
}
/* *web item-1 and 3 sam just change image */



